* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  background-color: rgb(185, 10, 185);
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  width: 100vw;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 10px;
}

.input {
  width: 6cm;
  background-color: white;
  border-color: rgb(185, 10, 185);
  border-radius: 5px;
  padding: 4px;
}

.button {
  border-radius: 5px;
  color: white;
  background-color: rgb(185, 10, 185);
  padding: 4px;
  border-color: rgb(185, 10, 185);
}

hr {
  border-top: 1.2px solid white;
}

/*#content {
  padding-top: 20px;
  text-align: center;
  background-color: white;
  border-radius: 7px;
  width: 80%;
}

.searchResults {
  padding: 20px 0 50px;
  margin-left: 140px;
  width: 550px;
  text-align: left;
}

.results {
  width: 40vw;
  margin-top: 150px;
  margin-left: 140px;
}
.result {
  padding: 30px 40px 15px 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  background: #ffffff;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: #292929;
}
.result-title {
  color: #292929;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3em;
}
.searchmatch {
  background: rgba(255, 255, 0, 0.5);
}
.result-link {
  text-decoration: underline;
}
*/
